*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
      font-size: 62.5%;
  }
body {
    font-family: "Montserrat";
    background-color: #030607;
    color: rgb(26, 21, 21) ;
    font-size: 2.2rem;
  }
   @mixin flex ($justifyproperty){
      display: flex;
      justify-content:$justifyproperty ;
      align-items: center;
      flex-wrap: wrap;
     
  }
  $fontColor:white;
  $aColor:white;
  a{
      text-decoration: none;
      color:$aColor;
  }
  li{
      list-style: none;
  }

  
  header{
      h1{
        //   border:2px solid red;
          margin:0px;
          text-align: center;

      }
      
    //   border: 2px solid red;
         .firstui{
             margin: 5rem;
           @include flex (space-between);
           }
                a{
                    font-weight: light;
                    
                }
           .thirdui{
            @include flex (flex-end);
            // border:2px solid gainsboro;
            flex-direction: row;
                 #search{
                    padding: 0.7rem;
                    
                    font-size: 1.5rem;
                   
       
               } 
                #button{
                   padding: 0.9rem;
                   margin: 0.3rem;
                   color: $fontColor;
                   border: 0.2rem solid white;
                   background-color: black;
                   border-radius: 0.8rem;
                   margin-right: 3rem;
                   margin-left: 1rem;
                //    font-weight: bold;
                 &:hover{
                    background-color: white;
                    color: black;
                 }
               }
           }

  }

  .divheader{
      text-align: center;
      color: $fontColor;
      margin-top: 8rem;

  }

#displayingphotes{
    margin-top: 3rem;
    h1{
        text-align: center;
    }

   .allimage{
       max-width: 100%;
       display: block;
       margin:auto;
       height:auto;
       padding: 2rem;
       margin-bottom:2rem;
   }
}
 

@media (max-width: 620px){
    .firstui{
        
      @include flex (center);
      flex-direction: column;
      }
    .thirdui{
        @include flex (center);
    }
    header{
        h1{
            font-size: 3.5rem; 
        }
    }
}

  